**/.classpath
**/.env
**/.project
**/.settings
**/.vs
**/.vscode

**/.git
**/.gitignore
!**/.gitignore
!.git/HEAD
!.git/config
!.git/packed-refs
!.git/refs/heads/**

**/*.*proj.user
**/*.dbmdl
**/*.jfm

**/bin
**/obj

**/.toolstarget
**/azds.yaml
**/charts
**/secrets.dev.yaml
**/values.dev.yaml

**/npm-debug.log
**/node_modules

LICENSE
README.md
